%h1 The following movies containing '#{@search_terms}' were found on TMDb

= form_tag movies_add_tmdb_path
%table#movies
  %thead
    %tr
      %th Movie Title
      %th Rating
      %th Release Date
      %th Select
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie[:title] 
        %td= movie[:rating]
        %td= movie[:release_date]
        <td> <input id="checkbox_#{movie[:tmdb_id]}" name="tmdb_movies[#{movie[:tmdb_id]}]" type= "checkbox"/> </td>
        
= submit_tag 'Add Selected Movies', :id => 'movies_button'
= link_to 'Back to movie list', movies_path